.tab-content,
.button-container {
    width: 700px;
}

.button-container {
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.form-checkbox {
    margin-bottom: 3px;
}

.control-label {
    font-weight: bold;
}

div.required label::after {
    content: "*";
    color: red;
    padding-left: 2px;
}