/* Crossmains and Lines Recap */
col#Worksheet32Col1 {
  width: 2%;
}

col#Worksheet32Col2 {
  width: 24%;
}

col#Worksheet32Col3 {
  width: 6%;
}

col#Worksheet32Col4 {
  width: 10%;
}

col#Worksheet32Col5 {
  width: 10%;
}

col#Worksheet32Col6 {
  width: 8%;
}

col#Worksheet32Col7 {
  width: 8%;
}

col#Worksheet32Col8 {
  width: 8%;
}

col#Worksheet32Col9 {
  width: 8%;
}

col#Worksheet32Col10 {
  width: 8%;
}

col#Worksheet32Col11 {
    width: 8%;
}